<div class="container">
    <div class="my-4">
        <h1 class="text-center">Forgot your password</h1>
    </div>
      <%= form_with(model: @user, url: password_forget_password_path , local: true,  class: 'form-horizontal') do |f| %>

        
        <% if @new_user && @new_user.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@new_user.errors.count, "error") %> prohibited this employee from being saved:</h2>
        
            <ul>
            <% @new_user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
            </div>
        <% end %>

        <div class="form-group row">  
            <%= f.label :email, class: 'col-2' %>
            <%= f.email_field :email, class: 'form-control col-3', autofocus: true %>
        </div>

        <%= f.submit 'Submit', class: 'btn btn-success' %>
        <%= link_to 'Cancel', '/', class: 'btn btn-danger text-white' %>
    
    <% end %>

    <p class="mt-2"> New User? <a href="/account/signup">Sign up</a> </p>

</div>
