<div class="container">
    <div class="my-4">
        <h1 class="text-center">Reset your password</h1>
    </div>
      <%= form_with(local: true, url: password_reset_password_path, class: 'form-horizontal') do |f| %>

        <div class="form-group row">  
            <%= f.label :new_password, class: 'col-2' %>
            <%= f.password_field :hashed_password, class: 'form-control col-3', autofocus: true %>
        </div>
        
        <div class="form-group row">  
            <%= f.label :confirm_password, class: 'col-2' %>
            <%= f.text_field :confirm_password, class: 'form-control col-3' %>
        </div>

        <%= f.submit 'Reset', class: 'btn btn-success' %>
        <%= link_to 'Cancel', '/', class: 'btn btn-danger text-white' %>
    
    <% end %>

    <p class="mt-2"> New User? <a href="/account/signup">Sign up</a>  </p>

</div>
