<div class="container">
    <div class="my-4">
        <h1 class="text-center">Login into your account</h1>
    </div>
      <%= form_with(model: @user, local: true, url: account_login_path, class: 'form-horizontal') do |f| %>

        <div class="form-group row">  
            <%= f.label :email, class: 'col-2' %>
            <%= f.email_field :email, class: 'form-control col-3', autofocus: true %>
        </div>
        
        <div class="form-group row">  
            <%= f.label :password, class: 'col-2' %>
            <%= f.password_field :password, class: 'form-control col-3' %>
        </div>

        <%= f.submit 'Signin', class: 'btn btn-success' %>
        <%= link_to 'Cancel', '/', class: 'btn btn-danger text-white' %>
    
    <% end %>

    <p class="mt-2"> New User? <a href="/account/signup">Sign up</a> 
                             | <a href="/password/forget_password">Forgot password</a> </p>

</div>